<div class="row mx-auto align-content-center">

  <div class="col-8 mx-auto align-content-center">

    <h1 class="text-center my-3">فرص عمل</h1>

    <table class="table events-table mb-5">

      <tr>
        <th>Job</th><th><a routerLink="/events/workshop">Status</a> </th>
      </tr>

      <tr>
        <td><a routerLink="/jobs/job-details">New job</a></td><td>open </td>
      </tr>

      <tr>
        <td><a routerLink="/jobs/job-details">New job</a></td><td>completed </td>
      </tr>

      <tr>
        <td><a routerLink="/jobs/job-details">New job</a></td><td>withdrawn</td>
      </tr>

    </table>

  </div>

</div>
