<div class="row mx-auto align-content-center">

 <h1 class="mx-auto text-center my-2">تعلم الإشارة الإماراتية</h1>

  <div class="col-6">
    <a href="http://www.alittihad.ae/details.php?id=58903&y=2017" target="_blank">
      <img class="responsive" src="assets/imgs/newspaper.jpeg">      جريدة الاتحاد
    </a>
  </div>

  <div class="col-6">
    <a href="https://www.youtube.com/watch?v=TILrMVLCYoE" target="_blank">قناة الظفرة – برنامج مساء الامارات
      <img class="responsive" src="">
    </a>
  </div>

</div>




<br>




<div class="row mx-auto align-content-center">

  <div class="col-6">
    <a href="https://gulfnews.com/xpress/news/where-fingers-do-the-talking-1.2177122" target="_blank">
      <img class="responsive" src="">جريدة Express news
    </a>
  </div>

  <div class="col-6">
    <a href="http://www.alkhaleej.ae/alkhaleej/page/aa8f9989-aa0e-4b32-9ba5-72865eca6170" target="_blank">
      <img class="responsive" src="">
      جريدة الخليج
    </a>
  </div>

</div>



<br>



<div class="row mx-auto align-content-center">

  <div class="col-6">
    <a href="https://www.facebook.com/abudhabiTV/videos/2303729592982715/?comment_tracking=%7B%22tn%22%3A%22O%22%7D" target="_blank">
      <img class="responsive" src="">
      قناة أبو ظبي – برنامج صباح الدار
    </a>
  </div>

</div>

