<div class="row mx-auto align-content-center">

  <div class="col-8 mx-auto align-content-center">

        <h1 class="text-center my-2">انضم الينا</h1>

    <ul class="list-group">

      <li class="list-group-item list-group-item-action">
        <a routerLink="/membership/join"><p>Become a Hand Speaker!</p></a>
      </li>

      <li class="list-group-item list-group-item-action">
        <a routerLink="/membership/join"><p>Become a Member!</p></a>
      </li>

      <li class="list-group-item list-group-item-action">
        <a routerLink="/membership/sponsor"><p>Become a Sponsor!</p></a>
      </li>

    </ul>

  </div>

</div>
