

<div class="row mx-auto align-content-center">


  <h1 class="text-center mx-auto my-2"> تواصل معنا</h1>

  <p class="lead my-2 text-center mx-auto">

    من هو فريق نتحدث بأيدينا؟
    - فريق غير ربحي يهدف إلى توعية المجتمع عن فئة الصم و يساهم في نشر و تعليم أساسيات لغة الإشارة بهدف دمجهم مع المجتمع.
    | تحت رعاية مؤسسة الأمارات |

  </p>

  <br>

  <div class="col-6">
    <a href="https://www.handspeakers.com" target="_blank">
      <img class="responsive" src="assets/imgs/website.jpeg">
    </a>
  </div>

  <div class="col-6">
    <a href="mailto:handspeakersuae@hotmail.com">
      <img class="responsive" src="assets/imgs/email.png">
    </a>
  </div>

</div>

<br>

<div class="row mx-auto align-content-center">

  <div class="col-6">
    <a href="https://twitter.com/handspeakers_ae" target="_blank">
      <img class="responsive" src="assets/imgs/twitter.png">
    </a>
  </div>

  <div class="col-6">
    <a href="https://www.instagram.com/handspeakers_ae/" target="_blank">
      <img class="responsive" src="assets/imgs/instagram-logo.png">
    </a>
  </div>

</div>





