
<h1 class="text-center">مراكز</h1>

<img class="responsive my-2" src="assets/imgs/main_bg.png" />

<div class="wrapper">



  <div class="row">

    <div class="col-4 area1">
      <button class="btn-icon" routerLink="/events">

        <img class="icon" src="../assets/imgs/calendar.png" />

        <label>Events</label>

      </button>
    </div>

    <div class="col-4 area2">
      <button class="btn-icon" routerLink="/workshops">

        <img class="icon" src="../assets/imgs/board.png" />

        <label>Workshops</label>

      </button>
    </div>

    <div class="col-4 area3">
      <button routerLink="/asl-centers">

        <img class="icon" src="../assets/imgs/school.png" />

        <label>ASL Centers</label>

      </button>
    </div>

  </div>



  <div class="row">

    <div class="col-4 area4">

      <button  routerLink="/volunteer">

        <img class="icon" src="../assets/imgs/heart.png" />
        <label>Volunteering</label>
      </button>
    </div>

    <div class="col-4 area5">
      <button routerLink="/news">
        <img class="icon" src="../assets/imgs/news.png" />
        <label>News & Press</label>
      </button>
    </div>

    <div class="col-4 area6">
      <button routerLink="/media">

        <img class="icon" src="../assets/imgs/media.png" />

        <label>Media</label>

      </button>
    </div>

  </div>



  <div class="row">

    <div class="col-4 area7">
      <button routerLink="/jobs">

        <img class="icon" src="../assets/imgs/certificate.png" />

        <label>Jobs & Competitions</label>

      </button>
    </div>

    <div class="col-4 area8">
      <button routerLink="/membership">

        <img class="icon" src="../assets/imgs/membership.png" />

        <label>Membership</label>

      </button>
    </div>

    <div class="col-4 area9">
      <button routerLink="/contact">

        <img class="icon" src="../assets/imgs/call.png" />

        <label>Contacts</label>

      </button>
    </div>

  </div>


</div>
