<div class="row mx-auto align-content-center">
  <div class="col-10 mx-auto align-content-center">

    <h2 class="text-center">Theatre play by people of determination</h2>

    <table class="table events-table mb-5">

      <tr>
        <td><span><i class="fas fa-clock"></i></span></td><td><a routerLink="/events/workshop">3:00 PM – 5:00 PM</a> </td>
      </tr>

      <tr>
        <td><span><i class="fas fa-map-marker-alt"></i></span></td><td><a routerLink="/events/entertainment">Sharjah – AUS campus</a> </td>
      </tr>

      <tr>
        <td><span> <i class="fa fa-envelope" ></i></span></td><td><a routerLink="/events/workshop">Free entry – Register by emailing xyz@hotmail.com
        (or shortcut link provided)</a></td>
      </tr>

    </table>

  </div>

</div>
