<div class="row mx-auto align-content-center">

  <div class="col-8 mx-auto align-content-center">

    <h1 class="text-center my-3">AD productions </h1> <img class="responsive" src="../assets/imgs/certificate.png" />

    <table class="table events-table mb-5">

      <tr>
        <th>Job</th><th>Status </th>
      </tr>

      <tr>
        <td>New job</td><td>Abu Dhabi </td>
      </tr>

      <tr>
        <td>New job</td><td>1 - 2 years </td>
      </tr>

      <tr>
        <td>New job</td><td>HS graduate</td>
      </tr>

      <tr>
        <td>Job description</td><td>5 - 7 hours of technical work, designing, photography</td>
      </tr>

    </table>

    <h2 class="text-center my-3">Apply:</h2>

      <form>

        <div class="form-group">
          <label>Full name</label>
          <input class="form-control">

        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control">

        </div>

        <div class="form-group">
          <label>Phone</label>
          <input class="form-control">

        </div>

        <div class="form-group">
          <label>Upload CV</label>
          <input type="file" class="form-control form-control-file">

        </div>

        <button class="btn btn-success btn-block">Submit</button>

      </form>

    <h2 class="text-center my-2">Contact us:</h2>
    <ul class="list-group my-2">
      <li class="list-group-item-action list-group-item"> <i class="fa fa-envelope"></i>:
        ADProductions@uae.ae
      </li>
      <li class="list-group-item-action list-group-item"> <i class="fas fa-phone"></i>:
        ADProductions@uae.ae
      </li>
      <li class="list-group-item-action list-group-item">
        http://www.ADProductions.com
      </li>

    </ul>


  </div>

</div>
