.responsive {
  max-width: 100%;
}

.active-link {
  color: white;
}

.events-table-workshop {
  background-color: blue;
}

.events-table-entertainment {
  background-color: green;
}

.events-table {
  color: black;
}

