<div class="row mx-auto align-content-center">
  <div class="col-10 mx-auto align-content-center">

      <h2 class="text-center">فعاليات</h2>

      <table class="table events-table mb-5">

        <tr>
          <th>Date</th><th>Event</th>
        </tr>

        <tr class="events-table-workshop">
          <td>03 January</td><td><a routerLink="/events/workshop">Level 3 Sign Language Workshop</a> </td>
        </tr>

        <tr class="events-table-entertainment">
          <td>11 December</td><td><a routerLink="/events/entertainment">Theatre play by people of determination</a> </td>
        </tr>

        <tr class="events-table-workshop">
          <td>21 October</td><td><a routerLink="/events/workshop"> International week of the deaf</a></td>
        </tr>

      </table>

  </div>

</div>
